{% extends "base.html" %}

{% block title %}Create{% endblock %}

{% block head %}
{{ super() }}
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
</link>

<script>var bootstrapTooltip = jQuery.fn.tooltip;</script>
<!-- Naming conflict for tooltip with Bootstrap and JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>jQuery.fn.tooltip = bootstrapTooltip;</script> <!-- Naming conflict for tooltip with Bootstrap and JQuery -->

{% endblock %}


{% block content %}

<div class="py-5 container-grid-2">
    <div class="container container-grid-3">
        <div class="row page-info form-row">
            <div class="col-12 col-lg-4">
                <h1>Blendr</h1>
            </div>
            <div class="col-12 col-lg-8 form-desc">
                <p>Enter a playlist ID to find out if any of your top artists are on the playlist!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form class="p-4" id="playlistForm" action="/blendr" method="post">
                    <div class="row form-row">
                        <input type="text" class="form-control input-lg" name="playlist_name" id="playlist_name"
                            aria-describedby="PlaylistName" placeholder="Playlist ID">
                    </div>
                    <div class="row page-info"></div>
                    <div class="row form-row" id="form-row">
                        <input id='form-row' class="btn btn-info btn-block" type="submit" name='submit' value='BLEND'>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>
</form>
</div>

</div>
</div>
</div>


{% endblock %}

{% block footer %}

{% endblock %}